<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
<!-- <param name="File" value="d:/ww/log/mapsearch/err.log" />-->
<param name="File" value="/home/ec2-user/opt/logs/webgps/err.log" />
<param name="Append" value="true" />
<layout class="org.apache.log4j.PatternLayout">
<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss}- %c - %-5p %x - %m%n"/>
</layout>
<filter class="org.apache.log4j.varia.LevelRangeFilter">
<param name="levelMin" value="error" />
<param name="levelMax" value="error" />
<param name="AcceptOnMatch" value="true" />
</filter>
</appender>
<appender name="INFO" class="org.apache.log4j.DailyRollingFileAppender">
<!-- <param name="File" value="d:/ww/log/mapsearch/info.log" />-->
<param name="File" value="/home/ec2-user/opt/logs/webgps/info.log" />
<param name="Append" value="true" />
<layout class="org.apache.log4j.PatternLayout">
<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} - %-5p %x - %m%n"/>
</layout>
<filter class="org.apache.log4j.varia.LevelRangeFilter">
<param name="levelMin" value="info" />
<param name="levelMax" value="info" />
<param name="AcceptOnMatch" value="true" />
</filter>
</appender>

<root>
<level value="INFO"/>
<appender-ref ref="INFO"/>
<appender-ref ref="ERROR"/>
</root>
</log4j:configuration>
