<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">search</property>
        <!--<property name="hibernate.connection.url">jdbc:oracle:thin:@222.128.0.178:1521:gps</property>-->
        <!----><property name="hibernate.connection.url">jdbc:oracle:thin:@218.240.39.162:1521:gps</property>
        <property name="hibernate.connection.username">mapsearch</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="show_sql">true</property>
		<property name="format_sql">true</property>
    </session-factory>
</hibernate-configuration>
