.icon-add {
    background-image:url(images/add.gif) !important;
}
.icon-del {
    background-image:url(images/delete.gif) !important;
}
.icon-save {
    background-image:url(images/save.gif) !important;
}
.icon-refresh {
    background-image:url(images/refresh.gif) !important;
}
.icon-modify {
    background-image:url(images/modify.gif) !important;
}
.icon-back {
    background-image:url(images/back.gif) !important;
}
.icon-excel {
    background-image: url(images/excel.png) !important;
}
.icon-search {
    background-image: url(images/search.png) !important;
}
.x-window-dlg .ext-mb-download {
    background:transparent url(images/download.gif) no-repeat top left;
    height:46px;
}
.icon-col-move-bottom {
    background-image: url(images/col-move-bottom.gif) !important;
}
.icon-col-move-top {
    background-image: url(images/col-move-top.gif) !important;
}
.icon-saved {
    background-image: url(images/saved.png) !important;
}

.icon-state1 {
    background-image: url(images/mainV2.1/state1.gif) !important;
}
.icon-state2 {
    background-image: url(images/mainV2.1/states2-m.gif) !important;
}
.icon-state3 {
    background-image: url(images/mainV2.1/state3.gif) !important;
}
.icon-state4 {
    background-image: url(images/mainV2.1/state4.gif) !important;
}
.icon-state5 {
    background-image: url(images/mainV2.1/state5.gif) !important;
}
.icon-state6 {
    background-image: url(images/mainV2.1/state6.gif) !important;
}
 
