/* CSS Document */
body,div,table,tr,td,ul,li{ margin:0; padding:0; border:0;}
.top{
width:100%;
height:75px;
background-image:url(../images/head_bj.jpg);
background-repeat:repeat-x;}
.logo{
width:970px;
height:75px;
float:left;
background-image:url(../images/loginlogo.jpg);}
.bj{
background-image:url(../images/bj.jpg);
background-repeat:repeat;}
.login{
clear:both;
width:463px;
height:255px;
margin:80px auto;
background-image:url(../images/login.jpg);
background-repeat:no-repeat;}
.login1{
margin-top:77px;
margin-left:15px;
width:210px;
line-height:28px;}
.login3{
margin-top:20px;
margin-left:25px;
width:190px;
line-height:28px;
text-align:center;}
.login2{
width:80px;
line-height:28px;
background-image:url(../images/list_img.jpg);
background-position:left center;
background-repeat:no-repeat;
text-indent:13px;
color:#00235a;
font-family:"ו";
font-weight:bold;
font-size:13px;}
.inputa{
width:120px;
height:20px;
line-height:20px;
text-align:left;
text-indent:2px;
font-size:12px;
border:1px solid #597999;}
.foot{
width:100%;
position:absolute;
bottom:0;
height:30px;}
.foot div{
width:453px;
height:30px;
text-align:right;
padding-right:10px;
margin-left:auto;
margin-right:auto;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;}

